.div_1 { 

    background-color: brown; 
    height: 600px; 
    width: 600px; 

} 

.div_2 { 

    width: 50%; 
    height: 50%vw; 
    background-color: gold; 

} 

.div_3 { 

    width: 75%vw; 
    height: 50%; 
    background-color: silver; 

} 

.div_4 { 

    background-color: darkviolet; 
    height: 25%; 
    width: 25%; 

} 

.text { 

    color: darkturquoise; 
    background-color: wheat; 
    font-size: 10px; 
    font-family: Arial, Helvetica, sans-serif; 
}